:root {
    font-size: calc(0.5em + 1vh); 
}

body {
    margin: 0%;
    padding: 0%;
    background-color: #f5f5f5;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.logo {
    height: 2em;
}

nav {
    height: 53px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #000000;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    justify-content: center;
    text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;
    color: #f5f5f5;
}
/*PORTADA*/
.portada {
    height: 20em;
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    color: #fef6f4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.portada h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
}
.portada h4 {
    font-family: 'Monoton', cursive;
}

.down{
    margin: 2em;
}

/*CONTENEDORES*/
.contenido {
    display: grid;
    grid-column-gap: 0.5em;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1em;
}

.contenido article {
    /*
    border:  1px solid #000000;
    border-radius: 2em;
    */
}

.b-central {
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 1em;
    text-decoration: none;
    background-color: orange;
    color: #ffffff;
    padding: 0.5em;
    width: 100%;
}



.img1 {
    background-image: url(img/feauture1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 10em;
}

.img2 {
    background-image: url(img/feauture2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 10em;
}

.img3 {
    background-image: url(img/feauture3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 10em;
}

.img4 {
    background-image: url(img/feauture4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 10em;
}

.img5 {
    background-image: url(img/feauture5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 10em;
}

.img6 {
    background-image: url(img/feauture6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 10em;
}
/*FOOTER*/
footer {
    padding: 2em;
    background-color: #000000;
}

.f-principal {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2em;
}

.f-principal div ul li {
    list-style: none;
}

.f-principal div ul li a {
    text-decoration: none;
    color: #f5f5f5;
}

.copy p {
    color: #fef6f4;
}

.f-social, .f-more {
    font-family: 'Raleway', sans-serif;
    color: #fef6f4;
}

/*FORMULARIO*/

.contact {
    background-image: url(img/contacus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 2em;
}

.contact .in-form {
    padding: 2em;
    border: 1px solid rgba(109, 104, 104, 0.801);
    border-radius: 1em;
    background-color:rgba(109, 104, 104, 0.801);
}

.formu {
    display: grid;
    grid-template-columns: 100%;
    align-content: center;
}

@media only screen and (max-width: 1100px){
    
}