:root {
    font-size: calc(0.5em + 1vh); 
}

body {
    margin: 0%;
    padding: 0%;
    background-color: #f5f5f5;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

nav {
    background-color: #000000;
}

img {
    height: 20px;
}

nav ul li {
    display: inline;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #f5f5f5;
}
/*PORTADA*/
.portada {
    height: 20em;
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    color: #fef6f4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.portada h1 {
    font-family: 'Raleway', sans-serif
}

/*CONTENEDORES*/
.contenido {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1em;
}

.contenido article {
    /*
    border:  1px solid #000000;
    border-radius: 2em;
    */
}

.b-central {
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 1em;
    text-decoration: none;
    background-color: orange;
    color: #ffffff;
    margin: 2em;
}

.img1 {
    background-image: url(img/feauture1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img2 {
    background-image: url(img/feauture1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img3 {
    background-image: url(img/feauture1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img4 {
    background-image: url(img/feauture1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img5 {
    background-image: url(img/feauture1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img6 {
    background-image: url(img/feauture1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/*FOOTER*/
footer {
    padding: 2em;
    background-color: #000000;
}

.f-principal {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2em;
}

.f-principal div ul li {
    list-style: none;
}

.f-principal div ul li a {
    text-decoration: none;
    color: #f5f5f5;
}

.copy p {
    color: #fef6f4;
}

.f-social, .f-more {
    font-family: 'Raleway', sans-serif;
    color: #fef6f4;
}

/*FORMULARIO*/

.contact {
    background-image: url(img/contacus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 2em;
}

.contact .in-form {
    padding: 2em;
    border: 1px solid rgba(109, 104, 104, 0.801);
    border-radius: 1em;
    background-color:rgba(109, 104, 104, 0.801);
}

.formu {
    display: grid;
    grid-template-columns: 100%;
    align-content: center;
}